!!!
%html
  = partial 'layouts/partials/head'
  %body{ class: current_page.try(:data).try(:page_class) }
    #wrapper
      = partial 'layouts/partials/header'
      #content.row-fluid
        .offset1.span10= yield
      #spacer
    = partial 'layouts/partials/footer'
    = partial 'layouts/partials/scripts'