%nav#menu.container
  %ul
    %li= link_to 'Blog', '/blog/'
    %li= link_to 'About', '/about/'
    %li= link_to 'Fork My Code on Github', 'http://github.com/kevinthompson', class: 'alt button'
    %li= link_to 'View My Resume on LinkedIn', 'http://linkedin.com/in/kevindthompson', class: 'alt button'
    %li= link_to 'Follow Me on Twitter', 'http://twitter.com/kevinthompson', class: 'alt button'