%nav.menu#menu
  %ul
    %li= link_to 'Blog', '/'
    / %li= link_to 'About', '/about/'
  %ul.external
    %li
      = link_to 'http://github.com/kevinthompson', class: 'alt button' do
        %span Fork My Code on
        Github
    %li
      = link_to 'http://linkedin.com/in/kevindthompson', class: 'alt button' do
        %span View My Resume on
        LinkedIn
    %li
      = link_to 'http://twitter.com/kevinthompson', class: 'alt button' do
        %span Follow Me on
        Twitter
    %li
      = link_to 'http://kevinthompson.info/feed.xml', class: 'alt button' do
        Subscribe
        %span to my Blog