%nav#menu
  %ul
    %li= link_to 'Blog', '/blog/'
    %li= link_to 'Github', 'http://github.com/kevinthompson'
    %li= link_to 'LinkedIn', 'http://linkedin.com/in/kevindthompson'
    %li= link_to 'Twitter', 'http://twitter.com/kevinthompson'
    %li= link_to 'Top', '#top', class: 'alt button'